
/*diseños generales*/
.imagenLogo{
    border-radius:300px 300px 300px 300px;
    border: none;
    display: block;
    margin: auto;
}

.div__img__div__img--centro{
    border-radius:300px 300px 300px 300px;
    border: none;
    display: block;
    margin: auto; 
}

ul{
    text-align: center;
    position: relative;
    list-style-type: none; 
    padding: 0px;
    margin: 20px;
}

ul li{ 
    position: relative;
    display: inline-block;
}

ul li a{
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color:rgb(4, 4, 71);
    background-color: rgba(230, 230, 6, 0.918);
    border-radius: 100px 100px 100px 100px;
    border: rgb(167, 151, 151) solid 0,75px;
    font-family: "confotaa", sans-serif;
    font-size: 30px;
    font-weight: 30px;

}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}


h1{
    font-family: "comfortaa", sans-serif;
    padding: 30px 20px 30px 20px;
    margin: 10px 5px 10px 5px;
    color:rgba(0, 0, 0, 0.774);
    font-size: 40px; 
    text-align: center;
    text-transform:none;
    text-decoration-style: solid;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 15px;
    border: rgb(39, 39, 39) solid 5px;
}

h2{
    padding: 20px 15px 20px 15px;
    margin: 5px 5px 5px 5px;
    color: rgb(139, 17, 42);
    font-size: 35px;
    font-weight: 350;
    font-family: "https://fonts.google.com/specimen/Tourney";
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    letter-spacing: 0px 5;
}

h3{
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    color:rgba(209, 6, 6, 0.884);
    border: black solid 2px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    letter-spacing: 0px 5;
}

h4{
    font-family: "comfortaa", sans-serif;
    text-decoration-style: solid;
    text-transform: uppercase;
    text-align: justify;
    font-size: 25px;
    color:rgba(22, 22, 22, 0.959);
}

p{
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
}
table{
    margin: 20px;
    padding: 15px;
    width: 95vw;
    height: 33vw;
}

th{
    font-family: "comfortaa", sans-serif;
    text-decoration-style: solid;
    text-transform: uppercase;
    text-align: center;
    color:black;
    font-size: 25px;
    border-radius: 20px;
    border: black solid 3px;
    background-color: rgba(14, 83, 100, 0.534);
}

td{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    color: black;
    font-family:"comfortaa", sans-serif;
    font-size: 20px;
    background-color: rgba(255, 251, 8, 0.568);
    border-radius: 20px;
    border: black solid 3px;
    text-decoration-style: solid;
    text-transform: uppercase;
    text-align: center;
}

div img{
    border-radius: 20px;
    border: black solid 2px;
    display: inline-block;
}
img{
    display:inline-block;
    border-radius: 20px;
    border: black solid 2px;

}

footer{
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0.849) solid 5px;
    background-color:rgba(8, 8, 8, 0.432);
    height: 260px;
    color:black;
    font-size: 20px;
    font-weight: 10px;
    font-family: 'anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    letter-spacing: 0px 5;
}

/*diseños index*/

section image{
    margin: 10px;
    padding: 10px;
    border: black solid 8px;
}
.colorFondoBody{
    background-image:url(../multimedia/ojos\ malasaña.jpg)
}

.body__img--fondo{
    background-image:url(../multimedia/ojos\ malasaña.jpg)
}
.padreGrillaBody{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "lg lg lg"
                         "ht ht ht"
                         "h1 h1 h1"
                         "img img img"
                         "pedidos pedidos pedidos"
                         "img2 img2 img2"
                         "ft ft ft";
    grid-column: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 2fr 1fr;
    justify-self: center;
    align-items: center;
    grid-gap: 30px;

}

 .lg{ grid-area: lg; margin: 15px;}
 .ht{ grid-area: ht; margin: 15px;}
 .h1{grid-area: h1; margin: 15px;}
 .img{ grid-area: img; width: 100vw; text-align: center; margin: 15px;}
 .pedidos{grid-area: pedidos; width: 100vw; text-align: center;margin: 15px;}
 .img2{grid-area: img2; width: 100vw; text-align: center; margin: 15px;}
 .ft{ grid-area: ft;}

/*diseños Origen - Home*/

.videoDeOrigen{
    padding: opx;
    height: 1200px;
    background-image: linear-gradient(to top, rgba(253, 250, 250, 0.644), rgba(247, 247, 152, 0.849));
    border-radius: 20px;
    border: rgba(14, 14, 13, 0.877) solid 8px;
    display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content:center;
align-content:center;
align-items:center;
}
.section--video{
    padding: opx;
    height: 1200px;
    background-image: linear-gradient(to top, rgba(253, 250, 250, 0.644), rgba(247, 247, 152, 0.849));
    border-radius: 20px;
    border: rgba(14, 14, 13, 0.877) solid 8px;
    display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content:center;
align-content:center;
align-items:center;

}
.section__iframe__section__iframe--video{
    height: 400px;
    width: 600px;
    margin: 10px;
    border-radius: 20px; 
    border: rgb(39, 39, 39) solid 5px;
}
/* Diseños Menu*/

.menuOrden{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    display: inline-block;
}

.ordenNumero{
    display: flex;
}


/*Diseños Galeria*/

.fondoBodyGaleria{
    background-image:url(../multimedia/ojos\ malasaña.jpg) 
}

.padre{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:
    ". . rojo verde"
    "amarillo bandera rojo gris"
    "amarillo . . .";                 
    align-content: stretch;
    align-items:stretch;
    justify-self: center;
    }
    
    .verde{ height: 185px;
        width: 400px;
        /*background-color: rgb(141, 199, 83);*/
        grid-area: verde;
        transform: height 3s;

    }
    .verde :hover{
        height: 250px;
        width: 450px;
    }
    .azul{height: 400px;
        text-align: center;
        grid-area: bandera;
        transform: rotate(45deg);
     
    
    }
    .amarillo{height: 400px;
        /*background-color: rgb(243, 243, 122);*/
        grid-area: amarillo;
        margin: 20px;
        border-radius: 20px;
        border: black solid 2px;
        
    }

    .gris{
        /*background-color: gray;*/
        grid-area: gris;
        margin: 20px;
        border-radius: 20px;
        border: black solid 2px;
        text-align: center;
    }
    .rojo{
        /*background-color: rgb(238, 150, 150);*/
        grid-area: rojo; 
        margin: 20px;
        border-radius: 20px;
        border: black solid 2px;
        text-align: center;  
    }



    /*DISEÑOS CONTACTO*/

    .pregunta{
        font-size: 30px;
        font-family: "comfortaa", sans-serif;
        background-color: rgba(255, 255, 255, 0.795);
        border-radius: 20px;
        border: black solid 5px;
        text-align: center;
    }

    .contacto{
        padding: 20px;
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.795);
        border-radius: 20px;
        border: black solid 5px;
        text-align: center;
    }
   
    form input{padding: 20px;
        margin: 20px;
        background-color: rgba(231, 231, 83, 0.767);
        border-radius: 20px;
        border: black solid 5px;
        text-align: center;
        
    }
    form select{padding: 20px;
        margin: 20px;
        background-color: rgba(14, 83, 100, 0.534);
        border-radius: 20px;
        border: black solid 5px;
        text-align: center;
    }

    form div textarea{padding: 20px;
        margin: 20px;
        background-color: rgba(14, 83, 100, 0.534);
        border-radius: 20px;
        border: black solid 5px;
        text-align: center;
    }

    /*DISEÑOS NOSOTROS*/
.nosotros{
   margin-top: 15px;
   border: none;
}
.pimkcocoImg{
}
.diseñoBoton{
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color:whitesmoke;
    background-color: rgba(247, 100, 47, 0.658);
    border-radius: 100px 100px 100px 100px;
    border: rgb(167, 151, 151) solid 0,75px;
    font-family: "confotaa", sans-serif;
    font-size: 30px;
    font-weight: 30px;


}
.botones{
    text-align: center;
}
.wiomingImg{border: none;}
.malasañaImg{border: none;}
   /* @media only screen and (max-width:768px ) {
       
        h1 {
          color:rgb(17, 89, 74) ;
        }
        
        .colorFondoBody{
            background-color: rgba(255, 255, 255, 0.664);
        }
        
        
        .colorFondoMenu{
            background-color: darkgrey;
        }
        .imagenDeColor{
            background-image: linear-gradient(to top,rgb(106, 120, 151) , white);
    
        }
        
        .colorFondoFooter{
            background-color: rgb(109, 74, 76);
        }
          }
        
      @media only screen and (min-width: 768px ){
        .colorFondoBody{
            background-color: white;
        }
        
        .imagenDeColor{
            background-image: linear-gradient(to top,rgb(147, 245, 155) , white);    
        }
        
        .colorFondoFooter{
            background-color: rgb(214, 209, 202);
        }
      }

      @media only screen and (min-width: 1200px ){
      
        h1{color: darkred;
        }

        .colorFondoBody{
            background-color: white;
        }
      }*/