section {
	image {
		margin: 10px;
		padding: 10px;
		border: black solid 8px;
	}
}

.body__img--fondo {
	background-image: url(../multimedia/ojos/malasaña.jpg);
}
.padreGrillaBody {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas: "lg lg lg" "ht ht ht" "h1 h1 h1" "img img img" "pedidos pedidos pedidos" "img2 img2 img2" "ft ft ft";
	grid-column: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr 1fr 2fr 1fr;
	justify-self: center;
	align-items: center;
	grid-gap: 30px;
}
.lg {
	grid-area: lg;
	margin: 15px;
}
.ht {
	grid-area: ht;
	margin: 15px;
}
.h1 {
	grid-area: h1;
	margin: 15px;
}
.img {
	grid-area: img;
	width: 100vw;
	text-align: center;
	margin: 15px;
}
.pedidos {
	grid-area: pedidos;
	width: 100vw;
	text-align: center;
	margin: 15px;
}
.img2 {
	grid-area: img2;
	width: 100vw;
	text-align: center;
	margin: 15px;
}
.ft {
	grid-area: ft;
}
