
.imagenLogo {
	border-radius: 300px 300px 300px 300px;
	border: none;
	display: block;
	margin: auto;
}
ul {
	text-align: center;
	position: relative;
	list-style-type: none;
	padding: 0px;
	margin: 20px;
	li {
		position: relative;
		display: inline-block;
		a {
			padding: 10px;
			margin: 15px;
			text-decoration:none;
			color: rgb(21, 21, 22);
			background-color: rgb(206, 59, 6);
			border-radius: 100px 100px 100px 100px;
			border: rgb(167, 151, 151) solid 0,75px;
			font-family: "confotaa", sans-serif;
			font-size: 25px;
			font-weight: 25px;
		}
		&:hover {
			ul {
				display: block;
			}
		}
	}
	ul {
		position: absolute;
		display: none;
		li {
			display: block;
		}
	}
}
h1 {
	font-family: "comfortaa", sans-serif;
	padding: 30px 20px 30px 20px;
	margin: 10px 5px 10px 5px;
	color: rgba(0, 0, 0, 0.774);
	font-size: 40px;
	text-align: center;
	text-transform: none;
	text-decoration-style: solid;
	background-color: rgba(255, 255, 255, 0.952);
	border-radius: 15px;
	border: rgb(39, 39, 39) solid 5px;
}
h2 {
	padding: 20px 15px 20px 15px;
	margin: 5px 5px 5px 5px;
	color: rgb(139, 17, 42);
	font-size: 35px;
	font-weight: 350;
	font-family: "https://fonts.google.com/specimen/Tourney";
	text-align: center;
	text-transform: uppercase;
	text-decoration-style: solid;
	letter-spacing: 0px 5;
}
h3 {
	background-color: rgba(240, 248, 255, 0.959);
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
	color: rgba(209, 6, 6, 0.884);
	border: black solid 2px;
	border-radius: 20px;
	font-size: 25px;
	font-family: 'anton', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration-style: solid;
	letter-spacing: 0px 5;
}
h4 {
	font-family: "comfortaa", sans-serif;
	text-decoration-style: solid;
	text-transform: uppercase;
	text-align: justify;
	font-size: 25px;
	color: rgba(22, 22, 22, 0.959);
}
p {
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}
table {
	margin: 20px;
	padding: 15px;
	width: 95vw;
	height: 33vw;
}
th {
	font-family: "comfortaa", sans-serif;
	text-decoration-style: solid;
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-size: 25px;
	border-radius: 20px;
	border: black solid 3px;
	background-color: rgba(14, 83, 100, 0.534);
}
td {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	color: black;
	font-family: "comfortaa", sans-serif;
	font-size: 20px;
	background-color: rgba(255, 251, 8, 0.568);
	border-radius: 20px;
	border: black solid 3px;
	text-decoration-style: solid;
	text-transform: uppercase;
	text-align: center;
}
div {
	img {
		border-radius: 20px;
		display: inline-block;
	}
}
img {
	display: inline-block;
	border-radius: 20px;
}
footer {
	padding: 15px;
	margin-top: 20px;
	border-radius: 20px;
	border: rgba(0, 0, 0, 0.849) solid 5px;
	background-color:rgba(255, 255, 255, 0.932);
	height: auto;
	color: black;
	font-size: 20px;
	font-weight: 10px;
	font-family: 'anton', sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration-style: solid;
	letter-spacing: 0px 5;
}
section {
	image {
		margin: 10px;
		padding: 10px;
		border: black solid 8px;
	}
}
.colorFondoBody {
	background-image: url(../multimedia/899fbb0a529d56ef262c4bc66851258c.jpg);
}
.videoDeOrigen {
	padding: opx;
	height: 100%;
	background-image: linear-gradient(to top, rgba(253, 250, 250, 0.644), rgba(247, 247, 152, 0.849));
	border-radius: 20px;
	border: rgba(14, 14, 13, 0.877) solid 8px;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.menuOrden {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	display: inline-block;
}
.pregunta {
	font-size: 30px;
	font-family: "comfortaa", sans-serif;
	background-color: rgba(255, 255, 255, 0.795);
	border-radius: 20px;
	border: black solid 5px;
	text-align: center;
}
.contacto {
	padding: 20px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.795);
	border-radius: 20px;
	border: black solid 5px;
	text-align: center;
}
form {
	input {
		padding: 20px;
		margin: 20px;
		background-color: rgba(228, 70, 13, 0.733);
		border-radius: 20px;
		border: black solid 5px;
		text-align: center;
	}
	select {
		padding: 20px;
		margin: 20px;
		background-color: rgba(14, 83, 100, 0.534);
		border-radius: 20px;
		border: black solid 5px;
		text-align: center;
	}
	div {
		textarea {
			padding: 20px;
			margin: 20px;
			background-color: rgba(14, 83, 100, 0.534);
			border-radius: 20px;
			border: black solid 5px;
			text-align: center;
		}
	}
}
.nosotros {
	margin-top: 15px;
	border: none;
}
.diseñoBoton {
	padding: 10px;
	margin: 15px;
	text-decoration: none;
	color: whitesmoke;
	background-color: rgba(247, 100, 47, 0.658);
	border-radius: 100px 100px 100px 100px;
	border: rgb(167, 151, 151) solid 0,75px;
	font-family: "confotaa", sans-serif;
	font-size: 30px;
	font-weight: 30px;
}
.sticky-bottom{
    position: fixed;
    top: 580px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    }